.ClassCuerpo
{
    width: 100%;
}
.ClassFormulario
{
    width: 100%;
    background-color: #E6E6E6;
}
    .ClassFormulario .Margen
    {
        padding: 5px;        
    }
    .ClassFormularioTitulo
    {
        font-size: 16px !important;
        color: #ffffff !important;                
        text-transform: uppercase;
        border-bottom: 1px solid #CCC;
                
        padding: 10px 10px 10px 10px !important;
        font-weight: bold;
        background-color: #0036BC !important;
        text-align:center;
    }
    .ClassFormulario .Margen table
    {
        width: 100%;
        border-spacing:0px 10px;
    }
    /*
            .ClassFormulario div div div
            {
                font-size: 14px;
                color: #808080;                
                text-transform: uppercase;
                border-bottom: 1px solid #CCC;
                border-radius: 0px;
                padding: 0px;
                font-weight: bold;
                background-color: transparent;
            }
      */      

            
        
            .ClassFormulario .Margen table tr td
            {
                font-size: 16px;
                font-weight: bold;
                text-align: left;
                color: #000;
                background-color:#F2F2F2;
               
            }
            .ClassFormulario .Margen table tbody tr td #myMap
            {
                width: 100%;
                height: 800px;
                background-color: transparent;
            }
            .ClassFormulario .Margen table tbody tr td #myMap div div div div a div
            {
                background-color: transparent !important; 
            }
.copyrightAttribution, .shadowtextDark
{
    font-size: 8px !important;
}

.ClassFormularioAncho
{
    width: 87%;
    margin-left: 2.5%;
    
     background-color: #E6E6E6;
}
.ClassFormularioAncho div
    {
        padding: 15px;
    }
        .ClassFormularioAncho div div
        {
           background-color: #E6E6E6;
            
        }
            .ClassFormularioAncho div div div
            {
                font-size: 14px;
                color: #808080;                
                text-transform: uppercase;
                border-bottom: 1px solid #CCC;
                
                padding: 0px;
                font-weight: bold;
            }            
            
        .ClassFormularioAncho div div table{ width: 100%; 
                                              border-spacing:0px 10px;
        }
            .ClassFormularioAncho div div table tr td
            {
                font-size: 16px;
                font-weight: bold;
                text-align: left;
                 color: #000;
                background-color:#F2F2F2;
            }
            .ClassFormularioAncho div div table tbody tr td #myMap
            {
                width: 100%;
                height: 800px;
                background-color: transparent;
            }
            .ClassFormularioAncho div div table tbody tr td #myMap div div div div a div
            {
                background-color: transparent !important; 
            }