#IDMenu
{
    border-top: 2px solid #808080;
    border-bottom: 2px solid #A7A7A7;
    width: 100%; 
    background-color: #B7B7B7;
}
.ClassRuta
{
    font-family: Arial;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
}
.ClassMenu
{
    float: right !important;
}
.ClassMenu ul li
{
    border-right: 2px solid #047EC1;
}
.ClassMenu ul li a
{
    font-family: Arial;
    font-size: 16px;
    background-color: #003457 !important;
    color: #FFF !important;
}
.ClassMenu ul li a:Hover
{
    background-color: #EF8F00 !important;
    border-right: 2px solid #047EC1;
}