.ClassFormulario div div table tbody tr td div div .ClassCalendario
{
    background-color: #808080 !important;
    color: #333333 !important; 

}
.ClassFormulario div div table tbody tr td div div .ajax__calendar_header
{
    background-color: #808080 !important;
}
.ClassFormulario div div table tbody tr td div div .ajax__calendar_prev
{
    background-color: #808080 !important;
} 
.ClassFormulario div div table tbody tr td div div .ajax__calendar_next
{
    background-color: #808080 !important;
} 
.ClassFormulario div div table tbody tr td div div .ajax__calendar_title
{
    font-size: 12px !important; 
    background-color: #808080 !important;
    color: #333333 !important;
}
.ClassFormulario div div table tbody tr td div div .ajax__calendar_dayname
{
    font-size: 10px !important;  
    font-weight: bold !important;
    background-color: #D6D6D6 !important;
    color: #333333 !important;
}
.ClassFormulario div div table tbody tr td div div .ajax__calendar_days  
{
    font-size: 7px !important;  
    font-weight: bold !important;
    background-color: #D6D6D6 !important;
    color: #333333 !important;
}
.ClassFormulario div div table tbody tr td div div .ajax__calendar_day  
{  
    font-size: 11px !important;
    font-weight: bold !important;
    background-color: #D6D6D6 !important;
    font-style:italic !important;
    font-family:Courier !important;
}
.ClassFormulario div div table tbody tr td div div .ajax__calendar_today
{
    font-size: 8px !important;  
    font-weight: bold !important;
    background-color: #D6D6D6 !important;
    color: #333333 !important;
}